/* ____________________ FONTS ____________________ */

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Regular'),
        url('../fonts/OpenSansRegular.woff2') format('woff2'),
        url('../fonts/OpenSansRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-SemiBold'),
        url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
        url('../fonts/OpenSansSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Bold'),
        url('../fonts/OpenSansBold.woff2') format('woff2'),
        url('../fonts/OpenSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ____________________ DEFAULT ____________________ */

:root {
    --color__white: #FFFFFF;
    --color__green: #34C759;
    --color__yellow: #E6B127;
    --color__red: #F06A4D;
    --color__purple-1: #9873FF;
    --color__purple-2: #B89EFF;
    --color__purple-3: #8052FF;
    --color__gray-1: #C8C5D1;
    --color__gray-2: #B0B0B0;
    --color__gray-3: #F5F5F5;
    --color__gray-4: #F4F3F6;
    --color__gray-5: #E7E5EB;
    --color__black: #333333;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    min-width: 320px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    background-color: var(--color__gray-3);
}

h1,
h2 {
    margin: 0;
}

html {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

input {
    border: none;
    background-color: transparent;
    outline: none;
}

th {
    text-align: left;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ____________________ GLOBAL ____________________ */

.container {
    max-width: 1014px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
}

.btn {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

/* ____________________ HEADER ____________________ */

.header {
    width: 100%;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 14px;
    box-shadow: 0px 0px 15px var(--color__gray-1);
}

.header__container {
    align-items: center;
}

.header__logo {
    margin-right: 53px;
    width: 55px;
    cursor: pointer;
}

.form-search {
    width: 100%;
}

.form-search__input {
    max-width: 541px;
    width: 100%;
    padding: 12px 0 13px 16px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    font-size: 14px;
    line-height: 19px;
    color: var(--color__black);
}

.form-search__input::placeholder {
    color: var(--color__gray-2)
}

/* ____________________ MAIN ____________________ */

/* __________ Clients __________ */

/* --- Head of table --- */
.clients {
    align-items: center;
    flex-direction: column;
    padding-bottom: 120px;
}

.clients__title {
    place-self: flex-start;
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--color__black);
}

.clients__clientstable {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
}

.clientstable__header {
    font-size: 12px;
    color: var(--color__gray-2);
}

.clientstable__header-row {
    padding-left: 15px;
}

.header-row__subblock {
    font-weight: 400;
    cursor: pointer;
}

.header-row__subblock-titlefirst,
.header-row__subblock-icon-first {
    color: var(--color__purple-1);
}

.header-row__subblock-icon {
    color: var(--color__purple-1);
    opacity: 0.7;
}

/* -(focus, hover, active for header OF TABLE)- */
@media(any-hover: hover) {
    .change-info:hover {
        color: var(--color__purple-1);
        transition: color 0.3s ease;
    }

    .delete-info:hover {
        color: var(--color__red);
        transition: color 0.3s ease;
    }
}

/* --- Body of table --- */
.clientstable__col-client {
    background-color: var(--color__white);
}

.clientstable__row-client {
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color__black);
}

.personinfo__name {
    padding-right: 5px;
}

.personinfo__lastname {
    padding-right: 5px;
}

.change-info {
    margin-right: 30px;
}

.change-info,
.delete-info {
    align-items: center;
    color: var(--color__black);
    cursor: pointer;
    transition: color 0.3s ease;
}

.change-info__icon {
    margin-right: 2px;
}

.delete-info__icon {
    margin-right: 3px;
}

/* --- Button «Add client» --- */
.clients__addclient {
    align-items: center;
    padding: 13px 27px;
    border: 1px solid var(--color__purple-1);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--color__purple-1);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.addclient__icon {
    margin-right: 10px;
    fill: var(--color__purple-1);
    transition: fill 0.3s ease;
}

/* -(focus, hover, active for Button «Add client»)- */
@media(any-hover: hover) {
    .clients__addclient:hover {
        color: var(--color__white);
        background-color: var(--color__purple-2);
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .clients__addclient:hover .addclient__icon {
        fill: var(--color__white);
        transition: fill 0.3s ease;
    }
}

.clients__addclient:active {
    border-color: var(--color__purple-1);
    color: var(--color__white);
    background-color: var(--color__purple-3);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.clients__addclient:active .addclient__icon {
    fill: var(--color__white);
    transition: fill 0.3s ease;
}

.clients__addclient:disabled {
    border-color: var(--color__gray-1);
    color: var(--color__gray-1);
    background-color: var(--color__white);
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

/* -- */

/* --- MODAL BLOCK --- */
.modalblock {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.8);
    overflow-x: auto;
    animation: flow 0.3s ease;
}

@keyframes flow {
    0% {
        transform: translate(0%, -22%) scale(0);
    }

    100% {
        transform: translate(0%, 0%) scale(1);
    }
}

.modalblock__content {
    position: relative;
    top: -5%;
    max-width: 450px;
    width: 100%;
    background-color: var(--color__white);
}

.modalblock__title {
    padding: 24px 0 32px 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.form__name,
.form__surname,
.form__lastname {
    position: relative;
    margin-left: 30px;
    margin-bottom: 32px;
}

.form__name-label,
.form__surname-label,
.form__lastname-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: var(--color__gray-2);
    transform-origin: left;
    transition: top 0.3s ease, color 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.form__name-label-required,
.form__lastname-label-required {
    color: var(--color__purple-1);
}

/* PLACEHOLDER -(focus, hover, active)- */
.form__name-input:focus+.form__name-label,
.form__lastname-input:focus+.form__lastname-label,
.form__name-input:not(:focus):valid+.form__name-label,
.form__lastname-input:not(:focus):valid+.form__lastname-label,
.form__surname-label.focused {
    top: -15px;
    color: var(--color__gray-2);
    transform: scale(0.8);
}

/* -- */

.form__name-input,
.form__surname-input,
.form__lastname-input {
    max-width: 390px;
    width: 100%;
    height: 25px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--color__gray-1);
    font-size: 14px;
    line-height: 19px;
    appearance: none;
}

/* ADD CONTACT BUTTON -(focus, hover, active for )- */
.form__addcontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    background-color: rgba(200, 197, 209, 0.2);
}

.form__addcontact-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.form__addcontact-button--active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.form__addcontact-button-text {
    transition: color 0.3s ease;
}

.form__addcontact-button-icon,
.form__addcontact-button-hovericon {
    position: absolute;
    left: -5px;
    transition: opacity 0.3s ease;
}

@media(any-hover: hover) {
    .form__addcontact-button:hover .form__addcontact-button-text {
        color: var(--color__purple-2);
        transition: color 0.3s ease;
    }

    .form__addcontact-button-hovericon,
    .form__addcontact-button:hover .form__addcontact-button-icon,
    .form__addcontact-button:active .form__addcontact-button-icon {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .form__addcontact-button:hover .form__addcontact-button-hovericon,
    .form__addcontact-button:active .form__addcontact-button-hovericon {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}

.form__addcontact-button:active .form__addcontact-button-text {
    color: var(--color__purple-1);
    transition: color 0.3s ease;
}

/* Add contact (type of data, input, tooltip) */
.contact {
    display: flex;
    max-width: 390px;
    width: 100%;
    height: 37px;
    margin-bottom: 15px;
}

.contact:first-child {
    margin-top: 25px;
}

.contact__blocktype {
    max-width: 100%;
    border-left: 1px solid var(--color__gray-1);
    border-right: 1px solid var(--color__gray-1);
}

.contact__type {
    position: relative;
    padding-left: 12px;
    border-top: 1px solid var(--color__gray-1);
    border-bottom: 1px solid var(--color__gray-1);
    text-align: left;
}

.contact__type::before {
    content: '';
    position: absolute;
    top: 13px;
    right: 15px;
    width: 10px;
    height: 10px;
    background: url('/img/clients/add-client__arrow-down.png') no-repeat center;
    transition: transform 0.3s ease;
}

.contact__list--active.contact__type::before {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.contact__type,
.contact__list {
    width: 123px;
}

.contact__type {
    height: 100%;
    background-color: var(--color__gray-5);
}

.contact__list {
    position: absolute;
    z-index: 1;
    border-left: 1px solid var(--color__gray-1);
    border-right: 1px solid var(--color__gray-1);
    border-bottom: 1px solid var(--color__gray-1);
    background-color: var(--color__gray-4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.contact__list--active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.contact__item {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    cursor: pointer;
}

.contact__item:hover {
    background-color: rgb(231, 229, 235, 0.5);
}

.contact__input {
    max-width: 267px;
    width: 100%;
    padding: 12px 0px;
    padding-left: 8px;
    border-top: 1px solid var(--color__gray-1);
    border-bottom: 1px solid var(--color__gray-1);
}

.contact__delete {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    max-width: 27px;
    width: 100%;
    border: 1px solid var(--color__gray-1);
    transition: border-color 0.3s ease;
}

.contact__delete svg {
    fill: var(--color__gray-2);
    transition: fill 0.3s ease;
}

.contact__tooltip {
    position: absolute;
    top: -25px;
    left: 50%;
    width: 125px;
    padding: 8px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: var(--color__white);
    background-color: var(--color__black);
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.contact__tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    border-width: 8px 5px 0;
    border-style: solid;
    border-color: var(--color__black) transparent;
    transform: translateX(-50%);
}

@media(any-hover: hover) {
    .contact__delete:hover {
        border-color: var(--color__red);
        transition: border-color 0.3s ease, fill 0.3s ease;
    }

    .contact__delete:hover svg {
        fill: var(--color__red);
        transition: fill 0.3s ease;
    }

    .contact__delete:hover .contact__tooltip {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
}

/* CLOSE BUTTON of MODAL BLOCK -(focus, hover, active for )- */
.modalblock__button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    fill: var(--color__gray-2);
    background-color: transparent;
    cursor: pointer;
}

.modalblock__button svg {
    fill: var(--color__gray-2);
    outline: 1px solid transparent;
    outline-offset: 2px;
    transition: fill 0.3s ease;
}

@media(any-hover: hover) {
    /* .modalblock__button:focus-visible svg {
        outline: 1px solid var(--color__black);
        outline-offset: 2px;
        transition: outline 0.3s ease;
    } */

    .modalblock__button:hover svg {
        fill: var(--color__purple-1);
        outline: none;
        transition: fill 0.3s ease;
    }
}

.modalblock__button:active svg {
    fill: var(--color__purple-3);
    outline: none;
    transition: fill 0.3s ease;
}

/* --- Buttons SAVE and CANCEL --- */
.form__buttonsgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 21px;
}

.form__buttonsgroup-save {
    margin-bottom: 8px;
    padding: 12px 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--color__white);
    background-color: var(--color__purple-1);
    transition: background-color 0.3s ease;
}

.form__buttonsgroup-cancel {
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
    transition: color 0.3s ease;
}

/* (focus, hover, active for Buttons SAVE and CANCEL) */
@media(any-hover: hover) {
    .form__buttonsgroup-save:hover {
        background-color: var(--color__purple-2);
        transition: background-color 0.3s ease;
    }

    .form__buttonsgroup-cancel:hover {
        color: var(--color__purple-2);
    }

}

.form__buttonsgroup-save:active {
    background-color: var(--color__purple-3);
    transition: background-color 0.3s ease;
}

.form__buttonsgroup-cancel:active {
    color: var(--color__purple-3);
    transition: color 0.3s ease;
}

/* ------ */